body{
    margin: 0cm;
    font-size: 150%;
    background-color: black;
    /*background-image: url(fondo.jpg);*/
    background-size: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nombre{
    text-align: center;
    background-color: rgb(116, 25,25);
    border: double 10px;
}

.menu, .carta{
    padding: 10px;
    display: inline-block;
    text-align: center;
}
img {
    padding: 10px;
    display: inline-block;
    width: 20%;
 }

 .menu{
     color: rgb(82, 76, 76);
     background: rgba(0, 0, 0, 0);
     font-size: 125%;
     position: fixed;
 }

 li{
     border: solid 4px rgb(116, 25, 25);
     border-radius: 40px;
     margin: 3px;
     background-color: rgb(116, 25, 25);
     color: gray;
 }

 a{
     color: rgb(10, 0, 0);
     text-decoration: none;
 }