body{
    margin: 0cm;
    font-size: 150%;
    background-color: white;
    background-image: url(fondo.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.nombre{
    text-align: center;
    background-color: rgb(39, 185, 161);
    border: inset 7px rgb(39, 185, 161);
}

.menu{
    text-align: center;
    color: black;
    font-size: 200%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    position: fixed;
    width: 100%;
    padding: 10px;

}

p{
    margin: 10px;
}

.boton{
    margin: 10px;
    border: inset 5px rgb(39, 185, 161);
    border-radius: 20px;
    background-color: rgb(39, 185, 161);
    color: black;
    text-decoration: none;
}