body{
    margin: 0cm;
    font-size: 150%;
    background-color: white;
    background-image: url(fondo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nombre{
    text-align: center;
    background-color: rgb(116, 25,25);
    border: ridge 10px;
}

.menu{
    text-align: center;
    color: black;
    font-size: 125%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    position: fixed;
    width: 100%;
    padding: 10px;

}

p{
    margin: 10px;
}

.boton{
    margin: 10px;
    border: solid 4px rgb(116, 25, 25);
    border-radius: 40px;
    background-color: rgb(116, 25, 25);
    color: rgb(255, 255, 255);
    text-decoration: none;
}